@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap");

* {
  font-family: "Nunito", sans-serif;
  margin-top: 0%;
  padding: 0;
  box-sizing: border-box;
  text-transform: capitalize;
  outline: none;
  border: none;
  text-decoration: none;
  font-size: large;
  transition: all 0.2s linear;
  text-align: center;
  font-weight: 600;
  font-size: 1.79ch;
}

.sign {
  position: relative;
  top: 100px;
  width: 50%;
  height: 100%;
  margin: auto;
  text-align: center;
  background-color: transparent;
  border-radius: 5px;
  padding-top: 10px;
  opacity: 0.9;
}
.formprop input {
  background-color: rgb(255, 236, 182);
  height: 40px;
  width: 50%;
  border-radius: 10px;
  opacity: 0.9;
}

.formprop {
  margin: 10px 2px;
  padding: 10px 10px;
}

#btn {
  border: none;
  background-color: #ffa500;
  color: white;
  padding: 10px 25px;
  text-decoration: none;
  margin: 4px 2px;
  width: 20%;
  cursor: pointer;
  border-radius: 10px;
  opacity: 10;
  margin-bottom: 4%;
  padding-bottom: 40px;
}
